Repository fabiocolletto/Projeto-marco, changes with the labels that .github/labeler.yml gives for each.
All labels: i18n, registry, schemas, docs, ci

Default user panel to MiniAppBase embed
  miniapps/base_shell/app.js
  miniapps/base_shell/auth/profile-panel.html
  miniapps/base_shell/auth/profile.html
  miniapps/base_shell/i18n/en-us.json
  miniapps/base_shell/i18n/es-419.json
  miniapps/base_shell/i18n/pt-br.json
  miniapps/base_shell/styles.css
  packages/base.security/auth.js
  tests/e2e/miniapp_base_shell.spec.ts
Labels: none

Default user panel to MiniAppBase embed
  miniapps/base_shell/app.js
  miniapps/base_shell/auth/profile-panel.html
  miniapps/base_shell/auth/profile.html
  miniapps/base_shell/i18n/en-us.json
  miniapps/base_shell/i18n/es-419.json
  miniapps/base_shell/i18n/pt-br.json
  miniapps/base_shell/styles.css
  packages/base.security/auth.js
  tests/e2e/miniapp_base_shell.spec.ts
Labels: none

feat: streamline register panel experience
  miniapps/base_shell/app.js
  miniapps/base_shell/auth/register.html
  miniapps/base_shell/i18n/en-us.json
  miniapps/base_shell/i18n/es-419.json
  miniapps/base_shell/i18n/pt-br.json
  miniapps/base_shell/styles.css
Labels: none

feat: streamline register panel experience
  miniapps/base_shell/app.js
  miniapps/base_shell/auth/register.html
  miniapps/base_shell/i18n/en-us.json
  miniapps/base_shell/i18n/es-419.json
  miniapps/base_shell/i18n/pt-br.json
  miniapps/base_shell/styles.css
Labels: none

Add Make webhook workflows and lint checks
  .github/workflows/ci-actions.yml
  .github/workflows/dispatch-post-make.yml
  .github/workflows/pages.yml
  .github/workflows/reusable-post-make.yml
Labels: ci

Add Make webhook workflows and lint checks
  .github/workflows/ci-actions.yml
  .github/workflows/dispatch-post-make.yml
  .github/workflows/pages.yml
  .github/workflows/reusable-post-make.yml
Labels: ci

Add canonical JSON and HMAC signing utilities
  .github/workflows/reusable-post-make.yml
  scripts/canonical-json.js
  scripts/sign-hmac.js
Labels: ci

Add canonical JSON and HMAC signing utilities
  .github/workflows/reusable-post-make.yml
  scripts/canonical-json.js
  scripts/sign-hmac.js
Labels: ci

Document security and dispatch operations
  OPERATIONS.md
  README.md
  SECURITY.md
Labels: none

Document security and dispatch operations
  OPERATIONS.md
  README.md
  SECURITY.md
Labels: none

Add Make webhook verification guide
  docs/make/verify-hmac.md
Labels: docs

Add Make webhook verification guide
  docs/make/verify-hmac.md
Labels: docs

Refactor register flow to dispatch via backend
  OPERATIONS.md
  miniapps/base_shell/i18n/en-us.json
  miniapps/base_shell/i18n/es-419.json
  miniapps/base_shell/i18n/pt-br.json
  shared/LOG.md
  shared/README.md
  shared/js/auth/register.js
  tests/e2e/miniapp_base_shell.spec.ts
Labels: none

Refactor register flow to dispatch via backend
  OPERATIONS.md
  miniapps/base_shell/i18n/en-us.json
  miniapps/base_shell/i18n/es-419.json
  miniapps/base_shell/i18n/pt-br.json
  shared/LOG.md
  shared/README.md
  shared/js/auth/register.js
  tests/e2e/miniapp_base_shell.spec.ts
Labels: none

feat(maintenance): implantar rotina de auditoria, arquivamento reversível e CI semanal (dry-run)
  .gitattributes
  .github/workflows/maintenance.yml
  .gitignore
  archive/MANIFEST.json
  archive/README.md
  docs/MAINTENANCE.md
  package.json
  reports/.gitkeep
  tools/maintenance/__tests__/policy.spec.mjs
  tools/maintenance/archive.mjs
  tools/maintenance/audit.mjs
  tools/maintenance/lfs-scan.mjs
  tools/maintenance/lib/analyzer.mjs
  tools/maintenance/lib/archive-helpers.mjs
  tools/maintenance/restore.mjs
Labels: docs, ci

feat(maintenance): implantar rotina de auditoria, arquivamento reversível e CI semanal (dry-run)
  .gitattributes
  .github/workflows/maintenance.yml
  .gitignore
  archive/MANIFEST.json
  archive/README.md
  docs/MAINTENANCE.md
  package.json
  reports/.gitkeep
  tools/maintenance/__tests__/policy.spec.mjs
  tools/maintenance/archive.mjs
  tools/maintenance/audit.mjs
  tools/maintenance/lfs-scan.mjs
  tools/maintenance/lib/analyzer.mjs
  tools/maintenance/lib/archive-helpers.mjs
  tools/maintenance/restore.mjs
Labels: docs, ci

Revert "feat(maintenance): implantar rotina de auditoria, arquivamento revers…"
  .gitattributes
  .github/workflows/maintenance.yml
  .gitignore
  archive/MANIFEST.json
  archive/README.md
  docs/MAINTENANCE.md
  package.json
  reports/.gitkeep
  tools/maintenance/__tests__/policy.spec.mjs
  tools/maintenance/archive.mjs
  tools/maintenance/audit.mjs
  tools/maintenance/lfs-scan.mjs
  tools/maintenance/lib/analyzer.mjs
  tools/maintenance/lib/archive-helpers.mjs
  tools/maintenance/restore.mjs
Labels: docs, ci

feat: scaffold miniapp market and generator
  appbase/market/registry.json
  appbase/shell/index.html
  appbase/shell/main.js
  appbase/shell/market.js
  appbase/shell/router.js
  appbase/templates/miniapp-manifest.template.json
  appbase/templates/miniapp-structure/components/miniapp-root.js
  appbase/templates/miniapp-structure/i18n/en-US.json
  appbase/templates/miniapp-structure/i18n/es-419.json
  appbase/templates/miniapp-structure/i18n/pt-BR.json
  appbase/templates/miniapp-structure/icon-128.png
  appbase/templates/miniapp-structure/index.js
  appbase/templates/miniapp-structure/manifest.json
  appbase/templates/miniapp-structure/styles/components.css
  appbase/templates/miniapp-structure/styles/tokens.css
  appbase/templates/miniapp-structure/views/home.js
  appbase/templates/miniapp-structure/views/settings.js
  package.json
  tools/create-miniapp.mjs
Labels: none

feat: scaffold miniapp market and generator
  appbase/market/registry.json
  appbase/shell/index.html
  appbase/shell/main.js
  appbase/shell/market.js
  appbase/shell/router.js
  appbase/templates/miniapp-manifest.template.json
  appbase/templates/miniapp-structure/components/miniapp-root.js
  appbase/templates/miniapp-structure/i18n/en-US.json
  appbase/templates/miniapp-structure/i18n/es-419.json
  appbase/templates/miniapp-structure/i18n/pt-BR.json
  appbase/templates/miniapp-structure/icon-128.png
  appbase/templates/miniapp-structure/index.js
  appbase/templates/miniapp-structure/manifest.json
  appbase/templates/miniapp-structure/styles/components.css
  appbase/templates/miniapp-structure/styles/tokens.css
  appbase/templates/miniapp-structure/views/home.js
  appbase/templates/miniapp-structure/views/settings.js
  package.json
  tools/create-miniapp.mjs
Labels: none

Delete Assistentes/Cerimonial/app_free_v4 directory
  Assistentes/Cerimonial/app_free_v4/assistente-cerimonial-v4-lite.html
Labels: none

Delete appbase directory
  appbase/app.css
  appbase/app.js
  appbase/index.html
Labels: none

Delete shared directory
  shared/LOG.md
  shared/README.md
  shared/acConvidados.v1.mjs
  shared/acEventsCore.mjs
  shared/acEventsCore.v2.mjs
  shared/acFornecedores.v1.mjs
  shared/acMensagens.v1.mjs
  shared/acMiniHost.v1.mjs
  shared/acTasks.v1.mjs
  shared/app.base.css
  shared/gestaoEventosApp.css
  shared/higienizarLista.mjs
  shared/invite-processor.html
  shared/inviteProcessor.js
  shared/inviteUtils.js
  shared/listUtils.js
  shared/marcoBus.js
  shared/projectStore.js
Labels: none

Delete tools directory
  tools/LOG.md
  tools/README.md
  tools/gestao-de-convidados/LOG.md
  tools/gestao-de-convidados/README.md
  tools/gestao-de-convidados/app.html
  tools/gestao-de-convidados/app_header.mjs
  tools/gestao-de-convidados/convidados.html
  tools/gestao-de-convidados/eventos.html
  tools/gestao-de-convidados/fornecedores.html
  tools/gestao-de-convidados/mensagens.html
  tools/gestao-de-convidados/tarefas.html
  tools/gestao-de-convidados/widget-shell.html
  tools/gestao-de-fornecedores/fornecedores.minapp.js
Labels: none

Delete unique directory
  unique/sync.minapp.js
Labels: none

Delete Agent.md
  Agent.md
Labels: none

Delete LOG.md
  LOG.md
Labels: none

Delete README.md
  README.md
Labels: none

feat: implement shell layout and routing
  appbase/shell/index.html
  appbase/shell/main.js
  appbase/shell/market.js
  appbase/shell/router.js
  packages/ui/base.css
  packages/ui/components.css
  packages/ui/tokens.css
Labels: none

feat: implement shell layout and routing
  appbase/shell/index.html
  appbase/shell/main.js
  appbase/shell/market.js
  appbase/shell/router.js
  packages/ui/base.css
  packages/ui/components.css
  packages/ui/tokens.css
Labels: none

feat: scaffold miniapp generator and example app
  appbase/market/registry.json
  miniapps/example/components/miniapp-root.js
  miniapps/example/i18n/en-US.json
  miniapps/example/i18n/es-419.json
  miniapps/example/i18n/pt-BR.json
  miniapps/example/icon-128.png
  miniapps/example/index.js
  miniapps/example/manifest.json
  miniapps/example/styles/components.css
  miniapps/example/styles/tokens.css
  miniapps/example/views/home.js
  miniapps/example/views/settings.js
  tools/create-miniapp.mjs
Labels: none

feat: scaffold miniapp generator and example app
  appbase/market/registry.json
  miniapps/example/components/miniapp-root.js
  miniapps/example/i18n/en-US.json
  miniapps/example/i18n/es-419.json
  miniapps/example/i18n/pt-BR.json
  miniapps/example/icon-128.png
  miniapps/example/index.js
  miniapps/example/manifest.json
  miniapps/example/styles/components.css
  miniapps/example/styles/tokens.css
  miniapps/example/views/home.js
  miniapps/example/views/settings.js
  tools/create-miniapp.mjs
Labels: none

feat: bootstrap R1 platform core
  .gitignore
  README.md
  docs/R1.md
  package-lock.json
  package.json
  src/core/types.ts
  src/index.ts
  src/localization/i18n.ts
  src/registry/registry.ts
  src/storage/profileStore.ts
  src/telemetry/eventBus.ts
  src/theme/themeManager.ts
  tests/i18n.test.ts
  tests/profileStore.test.ts
  tests/registry.test.ts
  tests/theme.test.ts
  tsconfig.json
Labels: docs

feat: bootstrap R1 platform core
  .gitignore
  README.md
  docs/R1.md
  package-lock.json
  package.json
  src/core/types.ts
  src/index.ts
  src/localization/i18n.ts
  src/registry/registry.ts
  src/storage/profileStore.ts
  src/telemetry/eventBus.ts
  src/theme/themeManager.ts
  tests/i18n.test.ts
  tests/profileStore.test.ts
  tests/registry.test.ts
  tests/theme.test.ts
  tsconfig.json
Labels: docs

Add miniapp scaffold generator and market integration
  appbase/market/registry.json
  appbase/shell/market.js
  appbase/templates/miniapp-manifest.template.json
  appbase/templates/miniapp-structure/components/miniapp-root.js
  appbase/templates/miniapp-structure/i18n/en-US.json
  appbase/templates/miniapp-structure/i18n/es-419.json
  appbase/templates/miniapp-structure/i18n/pt-BR.json
  appbase/templates/miniapp-structure/icon-128.png
  appbase/templates/miniapp-structure/index.js
  appbase/templates/miniapp-structure/manifest.json
  appbase/templates/miniapp-structure/styles/components.css
  appbase/templates/miniapp-structure/styles/tokens.css
  appbase/templates/miniapp-structure/views/home.js
  appbase/templates/miniapp-structure/views/settings.js
  miniapps/example/components/miniapp-root.js
  miniapps/example/i18n/en-US.json
  miniapps/example/i18n/es-419.json
  miniapps/example/i18n/pt-BR.json
  miniapps/example/icon-128.png
  miniapps/example/index.js
  miniapps/example/manifest.json
  miniapps/example/styles/components.css
  miniapps/example/styles/tokens.css
  miniapps/example/views/home.js
  miniapps/example/views/settings.js
  tools/create-miniapp.mjs
Labels: none

Add miniapp scaffold generator and market integration
  appbase/market/registry.json
  appbase/shell/market.js
  appbase/templates/miniapp-manifest.template.json
  appbase/templates/miniapp-structure/components/miniapp-root.js
  appbase/templates/miniapp-structure/i18n/en-US.json
  appbase/templates/miniapp-structure/i18n/es-419.json
  appbase/templates/miniapp-structure/i18n/pt-BR.json
  appbase/templates/miniapp-structure/icon-128.png
  appbase/templates/miniapp-structure/index.js
  appbase/templates/miniapp-structure/manifest.json
  appbase/templates/miniapp-structure/styles/components.css
  appbase/templates/miniapp-structure/styles/tokens.css
  appbase/templates/miniapp-structure/views/home.js
  appbase/templates/miniapp-structure/views/settings.js
  miniapps/example/components/miniapp-root.js
  miniapps/example/i18n/en-US.json
  miniapps/example/i18n/es-419.json
  miniapps/example/i18n/pt-BR.json
  miniapps/example/icon-128.png
  miniapps/example/index.js
  miniapps/example/manifest.json
  miniapps/example/styles/components.css
  miniapps/example/styles/tokens.css
  miniapps/example/views/home.js
  miniapps/example/views/settings.js
  tools/create-miniapp.mjs
Labels: none

feat: add indexeddb persistence and scaffolding
  docs/persistencia-sync.md
  docs/scaffold-miniapp.md
  miniapps/AdminPanel/i18n/en-us.json
  miniapps/AdminPanel/i18n/es-419.json
  miniapps/AdminPanel/i18n/pt-br.json
  miniapps/AdminPanel/index.html
  miniapps/AdminPanel/main.js
  miniapps/AdminPanel/manifest.json
  miniapps/AdminPanel/styles.css
  miniapps/registry.json
  package-lock.json
  package.json
  scripts/backup-export.ts
  scripts/backup-import.ts
  scripts/create-miniapp.ts
  src/index.ts
  src/storage/autosave/AutoSaver.ts
  src/storage/backup/backupJson.ts
  src/storage/indexeddb/IdxDBStore.ts
  src/storage/indexeddb/migrations.ts
  src/storage/profileStore.ts
  src/sync/SyncProvider.ts
  src/sync/providers/DriveStub.ts
  src/sync/providers/OneDriveStub.ts
  templates/miniapp/i18n/en-us.json
  templates/miniapp/i18n/es-419.json
  templates/miniapp/i18n/pt-br.json
  templates/miniapp/index.html
  templates/miniapp/main.js
  templates/miniapp/manifest.json
  tests/scaffold/create-miniapp.spec.ts
  tests/storage/autosave.spec.ts
  tests/storage/indexeddb.spec.ts
  tests/sync/providers.spec.ts
Labels: docs

feat: add indexeddb persistence and scaffolding
  docs/persistencia-sync.md
  docs/scaffold-miniapp.md
  miniapps/AdminPanel/i18n/en-us.json
  miniapps/AdminPanel/i18n/es-419.json
  miniapps/AdminPanel/i18n/pt-br.json
  miniapps/AdminPanel/index.html
  miniapps/AdminPanel/main.js
  miniapps/AdminPanel/manifest.json
  miniapps/AdminPanel/styles.css
  miniapps/registry.json
  package-lock.json
  package.json
  scripts/backup-export.ts
  scripts/backup-import.ts
  scripts/create-miniapp.ts
  src/index.ts
  src/storage/autosave/AutoSaver.ts
  src/storage/backup/backupJson.ts
  src/storage/indexeddb/IdxDBStore.ts
  src/storage/indexeddb/migrations.ts
  src/storage/profileStore.ts
  src/sync/SyncProvider.ts
  src/sync/providers/DriveStub.ts
  src/sync/providers/OneDriveStub.ts
  templates/miniapp/i18n/en-us.json
  templates/miniapp/i18n/es-419.json
  templates/miniapp/i18n/pt-br.json
  templates/miniapp/index.html
  templates/miniapp/main.js
  templates/miniapp/manifest.json
  tests/scaffold/create-miniapp.spec.ts
  tests/storage/autosave.spec.ts
  tests/storage/indexeddb.spec.ts
  tests/sync/providers.spec.ts
Labels: docs

Add admin session gating and admin miniapp skeleton
  appbase/shell/index.html
  appbase/shell/main.js
  appbase/shell/session.js
  miniapps/admin/components/miniapp-root.js
  miniapps/admin/i18n/en-US.json
  miniapps/admin/i18n/es-419.json
  miniapps/admin/i18n/index.js
  miniapps/admin/i18n/pt-BR.json
  miniapps/admin/index.js
  miniapps/admin/manifest.json
  miniapps/admin/views/catalog.js
  miniapps/admin/views/users.js
Labels: none

Add admin session gating and admin miniapp skeleton
  appbase/shell/index.html
  appbase/shell/main.js
  appbase/shell/session.js
  miniapps/admin/components/miniapp-root.js
  miniapps/admin/i18n/en-US.json
  miniapps/admin/i18n/es-419.json
  miniapps/admin/i18n/index.js
  miniapps/admin/i18n/pt-BR.json
  miniapps/admin/index.js
  miniapps/admin/manifest.json
  miniapps/admin/views/catalog.js
  miniapps/admin/views/users.js
Labels: none

chore(qa): add smoke suite and admin backup validation
  CHANGELOG.md
  miniapps/AdminPanel/main.js
  package-lock.json
  package.json
  scripts/smoke.ts
Labels: docs

.github/labeler.yml:

i18n:
  - 'appbase/i18n/**'
  - 'docs/**/i18n*'
registry:
  - 'appbase/registry/**'
  - 'docs/**/registry*'
schemas:
  - 'appbase/schemas/**'
  - 'tooling/validate-schemas.mjs'
docs:
  - 'docs/**'
  - 'CHANGELOG.md'
ci:
  - '.github/workflows/**'
  - 'tooling/**'
