Repository fabiocolletto/Projeto-marco, changes with the labels that .github/labeler.yml gives for each.
All labels: i18n, registry, schemas, docs, ci

chore(qa): add smoke suite and admin backup validation
  CHANGELOG.md
  miniapps/AdminPanel/main.js
  package-lock.json
  package.json
  scripts/smoke.ts
Labels: docs

Fix theme teardown to remove shell listeners
  appbase/data/users.db.json
  appbase/shell/i18n.js
  appbase/shell/main.js
  appbase/shell/theme.js
  appbase/shell/users-store.js
  miniapps/admin/i18n/en-US.json
  miniapps/admin/i18n/es-419.json
  miniapps/admin/i18n/index.js
  miniapps/admin/i18n/pt-BR.json
  miniapps/admin/views/users.js
Labels: none

Fix theme teardown to remove shell listeners
  appbase/data/users.db.json
  appbase/shell/i18n.js
  appbase/shell/main.js
  appbase/shell/theme.js
  appbase/shell/users-store.js
  miniapps/admin/i18n/en-US.json
  miniapps/admin/i18n/es-419.json
  miniapps/admin/i18n/index.js
  miniapps/admin/i18n/pt-BR.json
  miniapps/admin/views/users.js
Labels: none

test(smoke): casos de clique/rota/esc
  docs/miniapps/AdminPanel/manifest.json
  docs/miniapps/registry.json
  index.html
  miniapps/AdminPanel/manifest.json
  miniapps/registry.json
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
Labels: registry, docs

test(smoke): casos de clique/rota/esc
  docs/miniapps/registry.json
  index.html
  miniapps/AdminPanel/manifest.json
  miniapps/registry.json
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/app/state.ts
  src/app/types.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
Labels: registry, docs

test(smoke): casos de clique/rota/esc
  docs/miniapps/registry.json
  index.html
  miniapps/AdminPanel/manifest.json
  miniapps/registry.json
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/app/state.ts
  src/app/types.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
Labels: registry, docs

test(auth): vitest e smoke para fluxo master
  miniapps/AdminPanel/index.html
  miniapps/AdminPanel/main.js
  miniapps/AdminPanel/styles.css
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/auth/crypto.ts
  src/auth/device.ts
  src/auth/gate.ts
  src/auth/session.ts
  src/auth/store.ts
  src/auth/types.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
  src/widgets/MasterLogin.ts
  src/widgets/MasterSignup.ts
  tests/auth/master.spec.ts
Labels: none

test(auth): vitest e smoke para fluxo master
  miniapps/AdminPanel/index.html
  miniapps/AdminPanel/main.js
  miniapps/AdminPanel/styles.css
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/auth/crypto.ts
  src/auth/device.ts
  src/auth/gate.ts
  src/auth/session.ts
  src/auth/store.ts
  src/auth/types.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
  src/widgets/MasterLogin.ts
  src/widgets/MasterSignup.ts
  tests/auth/master.spec.ts
Labels: none

Seed master credentials automatically
  docs/index.html
  index.html
  src/app/main.ts
  src/auth/provision.ts
  tests/auth/master.spec.ts
Labels: docs

Seed master credentials automatically
  docs/index.html
  index.html
  src/app/main.ts
  src/auth/provision.ts
  tests/auth/master.spec.ts
Labels: docs

Create Agente.md
  Agente.md
Labels: none

Rename Agente.md to AGENTS.md
  AGENTS.md
Labels: none

Show registration form when no user is detected
  templates/miniapp/index.html
  templates/miniapp/main.js
Labels: none

Show registration form when no user is detected
  templates/miniapp/index.html
  templates/miniapp/main.js
Labels: none

fix: mostrar cadastro master no primeiro acesso
  src/app/main.ts
Labels: none

fix: mostrar cadastro master no primeiro acesso
  src/app/main.ts
Labels: none

feat: show master status indicators during setup
  index.html
  src/app/main.ts
  src/app/renderShell.ts
  src/app/statusBar.ts
  src/widgets/MasterSignup.ts
  tests/auth/master.spec.ts
Labels: none

feat: show master status indicators during setup
  index.html
  src/app/main.ts
  src/app/renderShell.ts
  src/app/statusBar.ts
  src/widgets/MasterSignup.ts
  tests/auth/master.spec.ts
Labels: none

chore(assets): substituir binários por ícones SVG
  404.html
  archive/2025-10-18/README.md
  icons/apple-touch-icon.svg
  icons/favicon-16.svg
  icons/favicon-32.svg
  icons/icon-192.svg
  icons/icon-512.svg
  index.html
  manifest.webmanifest
  offline.html
  og-image.svg
  scripts/reset-factory.js
  sw.js
Labels: none

chore(assets): substituir binários por ícones SVG
  404.html
  archive/2025-10-18/README.md
  icons/apple-touch-icon.svg
  icons/favicon-16.svg
  icons/favicon-32.svg
  icons/icon-192.svg
  icons/icon-512.svg
  index.html
  manifest.webmanifest
  offline.html
  og-image.svg
  scripts/reset-factory.js
  sw.js
Labels: none

Add reset app button to clear stored data
  appbase/app.css
  appbase/app.js
  appbase/index.html
Labels: none

Add reset app button to clear stored data
  appbase/app.css
  appbase/app.js
  appbase/index.html
Labels: none

Fix datetime attribute removal for KPI toggle
  appbase/app.js
Labels: none

Fix datetime attribute removal for KPI toggle
  appbase/app.js
Labels: none

Adjust app bar for mobile wrapping
  appbase/app.css
Labels: none

Adjust app bar for mobile wrapping
  appbase/app.css
Labels: none

Remove login overlay from app
  appbase/app.js
  appbase/index.html
Labels: none

refactor: open catalog without master gate
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/app/statusBar.ts
  src/auth/gate.ts
Labels: none

refactor: open catalog without master gate
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
  src/app/statusBar.ts
  src/auth/gate.ts
Labels: none

feat: mover catálogo para seletor responsivo
  index.html
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
  tests/auth/master.spec.ts
Labels: none

feat: mover catálogo para seletor responsivo
  index.html
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
  tests/auth/master.spec.ts
Labels: none

feat: add additional panels to catalog
  miniapps/AdminPanel/index.html
  miniapps/AdminPanelSecundario/i18n/en-us.json
  miniapps/AdminPanelSecundario/i18n/es-419.json
  miniapps/AdminPanelSecundario/i18n/pt-br.json
  miniapps/AdminPanelSecundario/index.html
  miniapps/AdminPanelSecundario/main.js
  miniapps/AdminPanelSecundario/manifest.json
  miniapps/AdminPanelSecundario/styles.css
  miniapps/UserPanel/i18n/en-us.json
  miniapps/UserPanel/i18n/es-419.json
  miniapps/UserPanel/i18n/pt-br.json
  miniapps/UserPanel/index.html
  miniapps/UserPanel/main.js
  miniapps/UserPanel/manifest.json
  miniapps/UserPanel/styles.css
  miniapps/registry.json
  scripts/smoke.ts
  src/app/main.ts
Labels: none

feat: add additional panels to catalog
  miniapps/AdminPanel/index.html
  miniapps/AdminPanelSecundario/i18n/en-us.json
  miniapps/AdminPanelSecundario/i18n/es-419.json
  miniapps/AdminPanelSecundario/i18n/pt-br.json
  miniapps/AdminPanelSecundario/index.html
  miniapps/AdminPanelSecundario/main.js
  miniapps/AdminPanelSecundario/manifest.json
  miniapps/AdminPanelSecundario/styles.css
  miniapps/UserPanel/i18n/en-us.json
  miniapps/UserPanel/i18n/es-419.json
  miniapps/UserPanel/i18n/pt-br.json
  miniapps/UserPanel/index.html
  miniapps/UserPanel/main.js
  miniapps/UserPanel/manifest.json
  miniapps/UserPanel/styles.css
  miniapps/registry.json
  scripts/smoke.ts
  src/app/main.ts
Labels: none

feat: streamline first boot experience
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
Labels: none

feat: streamline first boot experience
  src/app/main.ts
  src/app/renderShell.ts
  src/app/router.ts
Labels: none

fix: restore master auth routing flow
  src/app/renderShell.ts
  src/app/router.ts
  src/app/statusBar.ts
  src/auth/gate.ts
Labels: none

fix: restore master auth routing flow
  src/app/renderShell.ts
  src/app/router.ts
  src/app/statusBar.ts
  src/auth/gate.ts
Labels: none

fix: reset master auth screen rendering
  src/app/renderShell.ts
Labels: none

fix: reset master auth screen rendering
  src/app/renderShell.ts
Labels: none

fix: alinhar shell do catálogo e build publicado
  docs/404.html
  docs/index.html
  index.html
  scripts/smoke.ts
  src/app/main.ts
  src/app/renderShell.ts
  src/registry/renderCatalog.ts
  src/registry/wireCatalog.ts
  tests/auth/master.spec.ts
Labels: docs

.github/labeler.yml:

i18n:
  - 'appbase/i18n/**'
  - 'docs/**/i18n*'
registry:
  - 'appbase/registry/**'
  - 'docs/**/registry*'
schemas:
  - 'appbase/schemas/**'
  - 'tooling/validate-schemas.mjs'
docs:
  - 'docs/**'
  - 'CHANGELOG.md'
ci:
  - '.github/workflows/**'
  - 'tooling/**'
