Repository fabiocolletto/Projeto-marco, changes with the labels that .github/labeler.yml gives for each.
All labels: i18n, registry, schemas, docs, ci

Relocate system metadata before services widget
  CHANGELOG.md
  apps/web/sys/panel.css
  apps/web/sys/system-panel.html
Labels: docs

Relocate system metadata before services widget
  CHANGELOG.md
  apps/web/sys/panel.css
  apps/web/sys/system-panel.html
Labels: docs

Add files via upload
  Projeto-marco_R1_appbase_bundle.zip
Labels: none

feat: add appbase r1 bundle
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/preview.yml
  CHANGELOG.md
  README.md
  VERSION
  agente.md
  appbase/i18n/en-us.json
  appbase/i18n/es-419.json
  appbase/i18n/pt-br.json
  appbase/index.html
  appbase/scripts/featureFlags.js
  appbase/scripts/i18n-loader.js
  appbase/scripts/marcobus.js
  appbase/scripts/projectStore.js
  appbase/scripts/theme.js
  appbase/styles/components.css
  appbase/styles/core.css
  appbase/styles/miniapp-scope.css
  appbase/styles/themes/dark.css
  appbase/styles/themes/light.css
  appbase/styles/tokens.css
  appbase/styles/utilities.css
  docs/README-miniapps.md
  index.html
  miniapps/gestor-de-tarefas/app.html
  miniapps/gestor-de-tarefas/i18n-snippet.json
  miniapps/gestor-de-tarefas/manifest.json
Labels: i18n, docs, ci

feat: add appbase r1 bundle
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/preview.yml
  CHANGELOG.md
  README.md
  VERSION
  agente.md
  appbase/i18n/en-us.json
  appbase/i18n/es-419.json
  appbase/i18n/pt-br.json
  appbase/index.html
  appbase/scripts/featureFlags.js
  appbase/scripts/i18n-loader.js
  appbase/scripts/marcobus.js
  appbase/scripts/projectStore.js
  appbase/scripts/theme.js
  appbase/styles/components.css
  appbase/styles/core.css
  appbase/styles/miniapp-scope.css
  appbase/styles/themes/dark.css
  appbase/styles/themes/light.css
  appbase/styles/tokens.css
  appbase/styles/utilities.css
  docs/README-miniapps.md
  index.html
  miniapps/gestor-de-tarefas/app.html
  miniapps/gestor-de-tarefas/i18n-snippet.json
  miniapps/gestor-de-tarefas/manifest.json
Labels: i18n, docs, ci

Keep shell chrome visible for user panel
  CHANGELOG.md
  apps/web/app.js
  docs/app.js
Labels: docs

Keep shell chrome visible for user panel
  CHANGELOG.md
  apps/web/app.js
  docs/app.js
Labels: docs

Enable AppBase locale switching
  appbase/i18n/en-us.json
  appbase/i18n/es-419.json
  appbase/i18n/pt-br.json
  appbase/index.html
Labels: i18n

Add version log and status modal
  Agent.md
  VERSION
  appbase/i18n/en-us.json
  appbase/i18n/es-419.json
  appbase/i18n/pt-br.json
  appbase/index.html
  appbase/scripts/version-status.js
  appbase/styles/components.css
  docs/registro-log.md
Labels: i18n, docs

Add version log and status modal
  Agent.md
  VERSION
  appbase/i18n/en-us.json
  appbase/i18n/es-419.json
  appbase/i18n/pt-br.json
  appbase/index.html
  appbase/scripts/version-status.js
  appbase/styles/components.css
  docs/registro-log.md
Labels: i18n, docs

Enable AppBase locale switching
  appbase/i18n/en-us.json
  appbase/i18n/es-419.json
  appbase/i18n/pt-br.json
  appbase/index.html
Labels: i18n

chore: prepare miniapp catalog infrastructure
  .github/workflows/ci.yml
  VERSION
  agente.md
  appbase/index.html
  docs/README-miniapps.md
  docs/registro-log.md
  miniapps/catalog.json
  schemas/i18n-snippet.schema.json
  schemas/manifest.schema.json
Labels: docs, ci

chore: prepare miniapp catalog infrastructure
  .github/workflows/ci.yml
  VERSION
  agente.md
  appbase/index.html
  docs/README-miniapps.md
  docs/registro-log.md
  miniapps/catalog.json
  schemas/i18n-snippet.schema.json
  schemas/manifest.schema.json
Labels: docs, ci

Fix locale switch and miniapp translations
  VERSION
  appbase/index.html
  docs/registro-log.md
  miniapps/gestor-de-tarefas/i18n-snippet.json
Labels: docs

Fix locale switch and miniapp translations
  VERSION
  appbase/index.html
  docs/registro-log.md
  miniapps/gestor-de-tarefas/i18n-snippet.json
Labels: docs

Ajusta responsividade do AppBase
  VERSION
  appbase/index.html
  appbase/styles/components.css
  appbase/styles/utilities.css
  docs/registro-log.md
  miniapps/gestor-de-tarefas/app.html
Labels: docs

Ajusta responsividade do AppBase
  VERSION
  appbase/index.html
  appbase/styles/components.css
  appbase/styles/utilities.css
  docs/registro-log.md
  miniapps/gestor-de-tarefas/app.html
Labels: docs

Fix task manager miniapp i18n namespace
  VERSION
  appbase/index.html
  docs/registro-log.md
  miniapps/gestor-de-tarefas/app.html
  miniapps/gestor-de-tarefas/i18n-snippet.json
  miniapps/gestor-de-tarefas/manifest.json
Labels: docs

Fix task manager miniapp i18n namespace
  VERSION
  appbase/index.html
  docs/registro-log.md
  miniapps/gestor-de-tarefas/app.html
  miniapps/gestor-de-tarefas/i18n-snippet.json
  miniapps/gestor-de-tarefas/manifest.json
Labels: docs

Handle i18n load failures gracefully
  VERSION
  appbase/scripts/i18n-loader.js
  docs/registro-log.md
Labels: docs

Handle i18n load failures gracefully
  VERSION
  appbase/scripts/i18n-loader.js
  docs/registro-log.md
Labels: docs

feat: configure supabase automation
  .github/workflows/pages.yml
  .github/workflows/preview.yml
  README.md
  VERSION
  docs/registro-log.md
  supabase/.gitignore
  supabase/config.toml
  supabase/functions/.gitkeep
  supabase/migrations/20241022160000_initial_structure.sql
  supabase/seed.sql
Labels: docs, ci

feat: configure supabase automation
  .github/workflows/pages.yml
  .github/workflows/preview.yml
  README.md
  VERSION
  docs/registro-log.md
  supabase/.gitignore
  supabase/config.toml
  supabase/functions/.gitkeep
  supabase/migrations/20241022160000_initial_structure.sql
  supabase/seed.sql
Labels: docs, ci

feat: persist miniapps catalog and release log in supabase
  Agent.md
  README.md
  VERSION
  appbase/index.html
  appbase/scripts/data-sources.js
  appbase/scripts/featureFlags.js
  appbase/scripts/i18n-loader.js
  appbase/scripts/supabase-config.js
  appbase/scripts/version-status.js
  docs/registro-log.md
  supabase/functions/miniapps_catalog_v1.sql
  supabase/functions/release_log_latest_v1.sql
  supabase/migrations/20241025120000_miniapps_catalog.sql
Labels: docs

feat: persist miniapps catalog and release log in supabase
  Agent.md
  README.md
  VERSION
  appbase/index.html
  appbase/scripts/data-sources.js
  appbase/scripts/featureFlags.js
  appbase/scripts/i18n-loader.js
  appbase/scripts/supabase-config.js
  appbase/scripts/version-status.js
  docs/registro-log.md
  supabase/functions/miniapps_catalog_v1.sql
  supabase/functions/release_log_latest_v1.sql
  supabase/migrations/20241025120000_miniapps_catalog.sql
Labels: docs

Integrate AppBase with Supabase data sources
  README.md
  VERSION
  appbase/index.html
  appbase/scripts/data-sources.js
  appbase/scripts/projectStore.js
  appbase/scripts/supabaseClient.js
  docs/registro-log.md
Labels: docs

Integrate AppBase with Supabase data sources
  README.md
  VERSION
  appbase/index.html
  appbase/scripts/data-sources.js
  appbase/scripts/projectStore.js
  appbase/scripts/supabaseClient.js
  docs/registro-log.md
Labels: docs

Require Supabase auth and realtime tasks
  README.md
  VERSION
  appbase/app.js
  appbase/index.html
  docs/README-miniapps.md
  docs/registro-log.md
  miniapps/gestor-de-tarefas/i18n-snippet.json
  supabase/migrations/20251027103000_auth_rls_enforcement.sql
Labels: docs

Require Supabase auth and realtime tasks
  README.md
  VERSION
  appbase/app.js
  appbase/index.html
  docs/README-miniapps.md
  docs/registro-log.md
  miniapps/gestor-de-tarefas/i18n-snippet.json
  supabase/migrations/20251027103000_auth_rls_enforcement.sql
Labels: docs

feat: integrate storage reports with edge functions
  .github/workflows/ci.yml
  README.md
  VERSION
  appbase/app.js
  docs/registro-log.md
  scripts/test-edge-functions.sh
  supabase/.env.test
  supabase/functions/generate-task-report/index.ts
  supabase/functions/sync-release-log/index.ts
  supabase/migrations/20251028120000_storage_task_attachments.sql
Labels: docs, ci

feat: integrate storage reports with edge functions
  .github/workflows/ci.yml
  README.md
  VERSION
  appbase/app.js
  docs/registro-log.md
  scripts/test-edge-functions.sh
  supabase/.env.test
  supabase/functions/generate-task-report/index.ts
  supabase/functions/sync-release-log/index.ts
  supabase/migrations/20251028120000_storage_task_attachments.sql
Labels: docs, ci

Update index.html
  index.html
Labels: none

Remove JS redirect from index.html
  index.html
Labels: none

.github/labeler.yml:

i18n:
  - 'appbase/i18n/**'
  - 'docs/**/i18n*'
registry:
  - 'appbase/registry/**'
  - 'docs/**/registry*'
schemas:
  - 'appbase/schemas/**'
  - 'tooling/validate-schemas.mjs'
docs:
  - 'docs/**'
  - 'CHANGELOG.md'
ci:
  - '.github/workflows/**'
  - 'tooling/**'
